@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    scroll-behavior: smooth;
}
.font-Josefin{
    font-family: 'Josefin Sans', sans-serif;
}
.font-Bree{
    font-family: 'Bree Serif', serif;
}
.font-rancho{
    font-family: 'Rancho', cursive;
}
.font-acme{
    font-family: 'Acme', sans-serif;
}
.font-montez{
    font-family: 'Montez', cursive;
}
.font-merienda{
    font-family: 'Merienda', cursive;
}
.font-glass{
        font-family: 'Glass Antiqua', cursive;
}
.font-Quattrocento{
    font-family: 'Quattrocento', serif;
}
.font-itim{
    font-family: 'Itim', cursive;
}
.animate-spin1 {
    animation: spin 5s linear infinite;
}


